@import "tailwindcss";

@theme {
  --color-primary: #c59d5f;
  --color-primary-dark: #a67c42;
  --color-secondary: #333333;
  --color-accent: #f4f4f4;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-secondary bg-white;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
